arch==4.19
dash==2.7.0
dash_bootstrap_components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.8.3
dash-table==5.0.0
diskcache==5.4.0
multiprocess==0.70.14
dill==0.3.6
hurst==0.0.5
joblib==1.2.0
matrixprofile==1.1.10
numpy==1.22.4
pandas==1.2.4
plotly==5.11.0
scikit_learn==0.23.2
scipy==1.8.1
six==1.16.0
statsmodels==0.13.2
stumpy==1.11.1
tqdm==4.28.1
tsfresh==0.18.0
tslearn==0.5.1.0
gunicorn==20.1.0
